$primary-color: rgb(87, 87, 87);

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
body {
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border: none;
}
